html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    
  }

h2{
    text-align: center;
    color: rgb(202, 100, 17)
}

h3{
    text-align: center;
    color: rgb(103, 17, 202)
}
.aa{
    text-align: center;
    font-size: 0mm
    color: rgba(40, 37, 199, 0.856);
}

.bottom{

    width: 115px;
    height: 40px;
    background: rgba(255, 123, 0, 0.856);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
}

select{
    font-family: sans-serif;
    font-size: 20px;
    width: 300px;
    height: 40px;
    text-align: center;
    background: transparent;
    display: inline-block;
    margin: auto;
}